@{
    ViewData["Title"] = "About us";
}

<div class="container">
    <div class="row about">
        <h2>@ViewData["Title"]</h2>
        <hr />
        <br />
        <br />
        <p> SpikeBee.com is changing the way you search, select and manage your activities online. We make camps, classes & events easily accessible, helping you find your favourites or engage in a new, unique & exciting experience.</p>

        <p>SpikeBee.com helps companies promote their businesses 24/7/365. You manage your listings, features and content, while we help fill your camps & classes with awesome people, just like you.</p>

        <p><strong>SpikeBee.com Something For Everyone</strong></p>
    </div>
</div>
<center>
    <div class="bee-profile">
        <img class="rounded-circle shadow-lg p-1" src="~/images/SpikeBeeImage1.png" />
    </div>
</center>
