@{
    ViewData["Title"] = "SpikeBee";
}

@*<div class="container">
    <div class="grid-header">
        <div class="flex-header">
            <div class="flex-headertext">
                <h1>Connecting families with activities kids love. Curated information on camps, classes & events</h1>
            </div>
        </div>
    </div>
</div>

<div class="search-container">
    <div class="search-container2">
        <a class="search-heading" asp-area="Identity" asp-page="/Account/Register" asp-route-UserType="Parent">Start Searching Today</a>
        <a class="search-heading" asp-controller="VendorPrograms" asp-action="Search">Start Searching Today</a>
    </div>
</div>
<div class="container row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column column1 ">
        <div class="hovereffect">
            <img class="img-responsive" src="~/images/image1.jpg" alt="">
            <div class="overlay">
                <h2>Hover effect 1</h2>
                <a class="info" href="#">link here</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column column1 ">
        <div class="hovereffect">
            <img class="img-responsive" src="~/images/image2.jpg" alt="">
            <div class="overlay">
                <h2>Hover effect 1</h2>
                <a class="info" href="#">link here</a>
            </div>
        </div>
    </div>
</div>

<div class="container row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column column2">
        <div class="hovereffect">
            <img class="img-responsive" src="~/images/image3.jpg" alt="">
            <div class="overlay">
                <h2>Hover effect 1</h2>
                <a class="info" href="#">link here</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column column2">
        <div class="hovereffect">
            <img class="img-responsive" src="~/images/image5.jpg" alt="">
            <div class="overlay">
                <h2>Hover effect 1</h2>
                <a class="info" href="#">link here</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    <script>
            $(document).ready(function () {
                $('.col-sm').hover(
                    //trigger when mouse hover
                    function () {
                        $(this).animate({
                            marginTop: "-=1%",
                        }, 200);
                    },
                    //trigger when mouse out
                    function () {
                        $(this).animate({
                            marginTop: "0%",
                        }, 200);
                    }
                );
            });
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
}*@
