
@{
    ViewData["Title"] = "Confirm";
}

<div class='row justify-content-center'>
    <div class="col-md-5">
        <h3>Thank you, your details have been updated.</h3>
        <br />
        <br />
        <center>
            <a class="btn btn-spikebee-blue text-light rounded-pill" asp-controller="VendorPrograms" asp-action="HomePage">Back to Home</a>
            <a class="btn btn-spikebee-blue text-light rounded-pill" asp-controller="Vendors" asp-action="Edit" asp-route-id="@User.Claims.FirstOrDefault(x=> x.Type == "VendorId").Value">Back to Edit Your Profile</a>
            <a class="btn btn-spikebee-blue text-light rounded-pill" asp-controller="VendorPrograms" asp-action="MyPrograms">Manage My Programs</a>
        </center>
        <center>
            <div class="bee-profile">
                <img class="rounded-circle shadow-lg p-1" src="~/images/SpikeBeeImage1.png" />
            </div>
        </center>
    </div>
</div>

