
@{
    ViewData["Title"] = "ContactResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class='row align-content-center'>
    <div class="col-md-6">
        <br />
        <br />
        <center>
            <h2>Thank you for contacting SpikeBee.</h2>
            <br />
            <h3>We will review your inquiry and get back to you.</h3>
        </center>
    </div>
    <div class="col-md-5">
        <center>
            <div class="bee-profile">
                <img class="rounded-circle shadow-lg p-1" src="~/images/SpikeBeeImage1.png" />
            </div>
        </center>
    </div>
</div>
